.textGraph {
  fill: #fff;

  @media (prefers-color-scheme: light) {
    fill: rgba(0, 0, 0, 0.87);
  }
}

.cellPieGraph {
  stroke: rgba(0, 0, 0, 0.87);

  @media (prefers-color-scheme: light) {
    stroke: #fff;
  }
}
